[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=startupSound
Comment=
Exec=play ~/.themes/Chicago95/misc/startup.ogg
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=true

