[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dhanumurti/Desktop/xfce4-terminal-emulator.desktop]
row=2
col=0

[/home/dhanumurti/Desktop/xfce4-web-browser.desktop]
row=3
col=0

[Trash]
row=4
col=0

[/]
row=0
col=0

[/home/dhanumurti]
row=1
col=0

