[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dhanumurti/Desktop/org.radare.iaito.desktop]
row=4
col=0

[/home/dhanumurti/Desktop/httptoolkit.desktop]
row=5
col=0

[/home/dhanumurti/Desktop/xfce4-terminal-emulator.desktop]
row=2
col=0

[/home/dhanumurti/Desktop/waydroid.desktop]
row=6
col=0

[/home/dhanumurti/Desktop/xfce4-web-browser.desktop]
row=3
col=0

[Trash]
row=6
col=13

[/]
row=0
col=0

[/home/dhanumurti]
row=1
col=0

